<h1 id="title">Cadastro de Dev's</h1>

<div class="formulario">
    <form>
        <div class="form-group">
        <label for="exampleFormControlInput1">Cadastre o seu Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
        <label for="exampleFormControlSelect1">Qual Tecnologia você domina?</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Java</option>
            <option>Dotnet</option>
            <option>Python</option>
            <option>Angular</option>
            <option>JavaScript</option>
        </select>
        </div>
        <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        </div>
        <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </form>
</div>