.main-container {
    padding-top: 100px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.footer {   
height: 50px;
text-align: center;
}

#title {
    display: flex;
    padding-left: 50px;
    padding-top: 30px;
}

.formulario{
    width: 50vh;
    padding-left: 50px;
    padding-top: 30px;
}

.binding{
    padding-left: 50px;
    padding-top: 30px;
}